header {
  width: 100%;
  height: 4rem;
  background-color: black;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

.logo, a {
  color: lightgray;
}

a {
  text-decoration: none;
}

.hero-section {
  margin-top: 4rem;
  position: relative;
}
@media (max-width: 31.25em) {
  .hero-section {
    margin-top: 2rem;
  }
}
.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 48.3125em) {
  .hero-section .container {
    flex-direction: column;
  }
}
.hero-section .banner {
  margin-left: 2rem;
}
@media (max-width: 48.3125em) {
  .hero-section .banner {
    margin-top: 2rem;
    margin-left: 0;
  }
}

.profile-img {
  width: 20%;
}
@media (max-width: 59.375em) {
  .profile-img {
    width: 30%;
  }
}
@media (max-width: 48.3125em) {
  .profile-img {
    width: 40%;
  }
}
.profile-img .avatar {
  border-radius: 50%;
}

h1 {
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.sub-heading {
  text-align: center;
  color: lightgray;
  font-size: 0.8rem;
}

.f_Name, .l_Name {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 10px;
}
@media (max-width: 48.3125em) {
  .f_Name, .l_Name {
    font-size: 5rem;
  }
}
@media (max-width: 36.25em) {
  .f_Name, .l_Name {
    font-size: 4rem;
  }
}
@media (max-width: 31.25em) {
  .f_Name, .l_Name {
    font-size: 3rem;
  }
}

.f_Name {
  color: lightgray;
}

.l_Name {
  color: lime;
}

.work-links {
  transform: translateY(8rem);
  margin: 0 auto;
}
@media (max-width: 36.25em) {
  .work-links {
    margin-top: 3rem;
  }
}
@media (max-width: 31.25em) {
  .work-links {
    margin-top: -5rem;
  }
}
.work-links .container {
  width: 70%;
}
@media (max-width: 31.25em) {
  .work-links .container {
    width: 74%;
  }
}
.work-links .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.site {
  height: 15.625rem;
  width: 12.5rem;
  background-color: #303030;
  justify-content: center;
  border-radius: 5px;
  box-shadow: -5px 5px 30px black;
  transition: all 0.2s;
}
.site:hover {
  transform: translateY(-8%);
  transform: scale(105%);
}
.site img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 66.25em) {
  .site {
    height: 11.75rem;
    width: 7.5rem;
  }
}
@media (max-width: 75em) {
  .site {
    height: 13.125rem;
    width: 10rem;
  }
}
@media (max-width: 48.3125em) {
  .site {
    height: 9rem;
    width: 7.5rem;
  }
}
@media (max-width: 31.25em) {
  .site {
    height: 11rem;
    width: 8.5rem;
    margin-bottom: 20px;
  }
}
.site .summary {
  margin-top: 0;
  font-size: 10px;
  padding: 10px;
}
@media (max-width: 31.25em) {
  .site .summary {
    padding: 0 10px 0 10px;
  }
}

.title {
  margin: 12px 0 0 0;
  font-size: 12px;
  color: white;
  padding: 10px;
}
@media (max-width: 31.25em) {
  .title {
    margin: 0;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 100%;
  width: 100%;
  background-color: #1b1b1b;
  font-family: Poppins;
  border-left: 3px solid lime;
  box-sizing: border-box;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10000;
}

.flex {
  display: flex;
}

.container {
  width: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */