.hero-section {
  margin-top: 4rem;

  .container {
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      justify-content: center;
    }

    @include respond(phone-xl) {
      flex-direction: column;
    }
  }

  .banner {
    margin-left: 2rem;

    @include respond(phone-xl) {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}

.profile-img {
  width: 20%;

  @include respond(tab-port) {
    width: 30%;
  }

  @include respond(phone-xl) {
    width: 40%;
  }

  img {
    border-radius: 100px;
  }
}

h1 {
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.sub-heading {
  text-align: center;
  color: lightgray;
  font-size: .8rem;
}

.f_Name, .l_Name {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 10px;

  @include respond(phone-xl) {
    font-size: 5rem;
  }

  @include respond(phone-md) {
    font-size: 4rem;
  }

  @include respond(phone-sm) {
    font-size: 3rem;
  }
}

.f_Name {
  color: lightgray;
}

.l_Name {
  color: lime;
}