.work-links {
  transform: translateY(8rem);
  margin: 0 auto;

  @include respond(phone-md) {
    margin-top: 3rem;
  }

  @include respond(phone-sm) {
    margin-top: -5rem;
  }

  .container {
    width: 70%;

    @include respond(phone-sm) {
      width: 74%;
    }
  }

  .row {
    display: grid;
    margin-inline: auto;
    width: 70%;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .col {
    width: fit-content;
    padding-inline: 5px;
    margin-inline: auto;
  }
}

.site {
  display: block;
  height: 15.625rem; // 250px
  width: 12.5rem; // 200px
  background-color: #303030;
  justify-content: center;
  border-radius: 5px;
  box-shadow: -5px 5px 30px black;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-8%);
    transform: scale(105%);
    
  }

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  @include respond(tab) { // 1060px
    height: 11.75rem;
    width: 7.5rem;
  }

  @include respond(tab-land) { // 860px
    height: 13.125rem;
    width: 10rem;
  }

  @include respond(phone-xl) { // 773
    height: 9rem;
    width: 7.5rem;
  }

  @include respond(phone-sm) { // 500px
    height: 11rem;
    width: 8.5rem;
    margin-bottom: 20px;
  }

  .summary {
    margin-top: 0;
    font-size: 10px;
    padding: 10px;

    @include respond(phone-sm) { // 500px
      padding: 0 10px 0 10px;
    }
  }
}

.title {
  margin: 12px 0 0 0;
  font-size: 12px;
  color: white;
  padding: 10px;

  @include respond(phone-sm) { // 500px
    margin: 0;
  }
}